body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#sidebar {
  width: 300px;
  padding: 15px;
  background: #f7f7f7;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

#map {
  flex: 1;
}
