html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
}

#sidebar {
  width: 300px;
  padding: 15px;
  background: #f7f7f7;
  border-right: 1px solid #ddd;
}

#map {
  flex: 1;
  height: 100vh;
}
