body {
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar */
#mainContent::-webkit-scrollbar {
  display: none;
}
#mainContent {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Touch scale effect */
.active-scale:active {
  transform: scale(0.98);
  transition: transform 0.1s ease-in-out;
}
