body {
  min-height: max(884px, 100dvh);
}

/* Hide scrollbar for Chrome, Safari, Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Touch feedback animation */
.active-scale:active {
  transform: scale(0.98);
  transition: transform 0.1s ease-in-out;
}
