<!DOCTYPE html>
<html>
<head>
  <title>Web Map</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id="sidebar">
  <h2>Location Info</h2>
  <div id="info">Click a location</div>
</div>

<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
